body {
  background: #0E1823;
  font-family: "Inter", sans-serif;\
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;  
}

img {
  display: block;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}

@media screen and (max-width: 767px) {
  
}

@media screen and (min-width: 768px) {
   .container {
    max-width: 768px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
}
 
}

@media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-right: 25px;
    padding-left: 25px;
}
