 :root {
     --color: #4d5ae5;
     --color2: #F4F4FD;
 }

 .logotype-web {
     color: var(--IRIS, #4D5AE5);
     font-family: 'Raleway', sans-serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 21px;
     /* 116.667% */
     letter-spacing: 0.54px;
     text-transform: uppercase;
     line-height: 1.17
 }

 .logotype {
     color: var(--NAVY-BLUE, #4d5ae5);
     font-family: 'Raleway', sans-serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 1.17;
     /* 116.667% */
     letter-spacing: 0.54px;
     text-transform: uppercase;
     margin-right: 76px;

 }

 .span {
     color: #2e2f42;
 }

 .menu-link {
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      

     color: #2E2F42;
     /* Body Medium */
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
     /* 150% */
     letter-spacing: 0.32px;
     padding: 24px 0;
     display: block;




 }

  

 .current {
      
 }
 
    

 .menu-link.current::after {

     content: '';
     width: 100%;
     left: 0;
     bottom: -1px;
     height: 4px;
     background-color: #404bbf;
     border-radius: 2px;
     position: absolute;

 }

 .menu-link:hover {
     color: var(--OCEAN, #404bbf);
 }

 .address {
     font-style: normal;
     margin-left: auto;
 }


 .contacts-address {
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     color: var(--SLATE, #434455);
     /* Body */
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     /* 150% */
     letter-spacing: 0.32px;
 }

 .contacts-address:hover {
     color: var(--OCEAN, #404bbf);
     /* Body */
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     /* 150% */
     letter-spacing: 0.32px;
 }

 .basic {
     font-family: 'Roboto', sans-serif;
     background: #FFF;
     color: #434455;
 }

 .title {
     color: var(--WHITE, #FFF);
     text-align: center;
     /* Header 1 */
     font-family: 'Roboto', sans-serif;
     font-size: 56px;
     font-style: normal;
     font-weight: 700;
     line-height: 60px;
     /* 107.143% */
     letter-spacing: 1.12px;
     line-height: 1.07;
     max-width: 496px;
     margin-left: auto;
     margin-right: auto;
 }

 .header-background {
     max-width: 1440px;
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/ofific-dark.jpg) ;
     background-size: cover;
     
     background-repeat: no-repeat;
     
    width: 320px;
        height: 432px;
        flex-shrink: 0;

 }





 .registration {
     margin: 0% auto;
     background: var(--IRIS, #4D5AE5);
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     cursor: pointer;
     display: block;
     min-width: 169px;
     height: 56px;
     border: none;
     border-radius: 4px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


 }

 .button:hover {
     background-color: #404BBF
 }

 .registration:hover {
     background-color: #404BBF;



 }


 .benefits {
     padding: 120px 0;


 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }


 .description {
     display: flex;
     gap: 24px;
 }

  


 .kinds {
     margin-bottom: 8px;
 }






 .team-div {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
     background-color: #FFFFFF;

 }








 .kinds {
     color: var(--NAVY-BLUE, #2E2F42);
     /* Header 3 */
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
     /* 120% */
     letter-spacing: 0.4px;
 }

 .description {
     color: var(--SLATE, #434455);
     /* Body */
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     /* 150% */
     letter-spacing: 0.32px;
 }

 .team {
     background: var(--CLOUD, #F4F4FD);
     padding: 120px 0;
 }

 .team-description {
     color: var(--NAVY-BLUE, #2E2F42);
     text-align: center;
     /* Header 2 */
     font-family: 'Roboto', sans-serif;
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: 1.11;
     /* 111.111% */
     letter-spacing: 0.72px;
     text-transform: capitalize;
     margin-bottom: 72px;
 }

 .team-li {
     padding: 32px 0;
 }

 .biographies {
     gap: 24px;
     display: flex;
 }


 .names {
     color: var(--NAVY-BLUE, #2E2F42);
     /* Header 3 */
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
     /* 120% */
     letter-spacing: 0.4px;
     text-align: center;
     margin-bottom: 8px;
     margin: 0%
 }

 .profession {
     color: var(--SLATE, #434455);
     /* Body */
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     /* 150% */
     letter-spacing: 0.32px;
     text-align: center;

 }

 .products {
     text-align: center;
     color: var(--NAVY-BLUE, #2E2F42);
     font-family: 'Roboto', sans-serif;
     /* Header 2 */
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: 1.11;
     /* 111.111% */
     letter-spacing: 0.72px;
     margin-bottom: 72px;

 }

 .service {
     color: var(--NAVY-BLUE, #2E2F42);
     /* Header 3 */
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
     /* 120% */
     letter-spacing: 0.4px;
     margin-bottom: 8px;
 }

 .view {
     color: var(--SLATE, #434455);
     /* Body */
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     /* 150% */
     letter-spacing: 0.32px;
 }

 .bottom {
     background: var(--NAVY-BLUE, #2E2F42);
     


 }
 .bottom{
    padding: 100px 0;
 }
 .description-bottom {
     color: var(--CLOUD, #F4F4FD);
     /* Body */
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     /* 150% */
     letter-spacing: 0.32px;
     margin-bottom: 16px;
 }

 .logotype-studio {
     color: var(--CLOUD, #F4F4FD);
 }

 .span-footer {
     color: #f4f4fd;
 }


 .page-header {
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 1px 6px rgba(46, 47, 66, 0.08);
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 1px 6px rgba(46, 47, 66, 0.08);
 }

 .div-header {
     display: flex;
     align-items: center;
 }

  

 .team-description {
     text-align: center;
     width: 100%;
 }




 .products {
     text-align: center;
     width: 100%;
 }

 img {
     display: block;
     width: 100%;
 }

 .main-navigation {
     display: flex;
     align-items: center;
 }



 .li-adder {
     display: flex;
     gap: 40px;
 }

 .contacts {
   



     gap: 40px;
 }

 ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
 }

 .menu-nav {
     display: flex;
     gap: 40px;
 }

 .menu-item {

     gap: 40px;
 }

 .team-div {

      
     border-radius: 0px 0px 4px 4px;

 }

 .portfolio {

    padding: 96px 0;

 }

 .options {
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
 }


 .type-of-service {
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     width: calc((100% - 48px) / 3);

     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;


 }


 .type-of-service:hover {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
 }


 .div-portfolio {
     padding: 32px 16px;
     border: 0px solid #e7e9fc;
     border-top: none;
     margin-bottom: 8px;
 }

 .img-div {
     position: relative;
     overflow: hidden;
 }

 .img-div:hover {
     transform: translateY(0%);
 }


 .div-portfolio:first-child .img-p p {
     transform: translateY(100%);
     transition: transform 0.3s ease;
 }

 .div-portfolio:first-child:hover .img-p p {
     transform: translateY(0%);
 }



 input:focus+.svg-modal {
     fill: #4D5AE5;
 }



 .modal-form-comment {
     margin-bottom: 16px;
 }



 .p-div {
     transform: translateY(100%);
     position: absolute;
     top: 0;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     padding: 40px 32px;
     background-color: #4d5ae5;
     height: 100%;
     width: 100%;

     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .type-of-service:hover .p-div {
     transform: translateY(0%);
 }


 .logotype {
     display: inline-block;
     
 }

 .description-bottom {
     max-width: 264px;
 }

 .li-addr {
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .div-benefits {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #f4f4fd;
     border-radius: 4px;
     margin-bottom: 8px;
     height: 112px;
 }


 .social-network {
     display: flex;
     justify-content: center;
     gap: 24px;
 }

 .social-list {
     width: 40px;
     height: 40px;
 }

 .a-list {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .a-list:hover {
     background-color: #404bbf;
 }

 .a-list:focus {
     background-color: #404bbf;
 }




 .svg-list {
     fill: #f4f4fd;

 }

 .div-foot {
     margin-right: 120px;


 }



 .p-foot {

     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #FFFFFF;
     margin-bottom: 16px;

 }

 .ul-foot {
     display: flex;
     gap: 16px;
 }

 .li-foot {

     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);

     width: 40px;
     height: 40px;
 }

 .a-foot {
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     background-color: var(--color);
     width: 100%;
     height: 100%;

     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;


 }

 .a-foot:hover,
 .a-foot:focus {
     background-color: #31d0aa;
 }


 .svg-foot {
     fill: #f4f4fd;

 }

 .direction-column {
     flex-direction: column;
 }


 .forms {
     margin-left: auto;
 }



 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
 }

 title {
     margin-left: auto;
     margin-right: auto;
 }

 .footer-container {
     display: flex;
     align-items: baseline
 }



 .forms-paragraph {
     margin-bottom: 16px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #ffffff;
     gap: 24px;


 }

 .forma-footer {
     
     gap: 24px;
 }


 .input-footer {
     width: 264px;
     height: 40px;
     border: 1px solid #ffffff;
     background-color: transparent;
     font-size: 12px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     padding-left: 16px;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     color: #ffffff;

 }

 input::placeholder {
     color: #ffffff;
 }


 .subscrite-button {
     min-width: 165px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     cursor: pointer;
     background-color: #4D5AE5;
     border: none;
     border-radius: 4px;
 }


 .icon-footer {
     margin-left: 16px;

 }


 .modal-div {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(46, 47, 66, 0.4);
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


 .window {
     padding: 72px 24px 24px 24px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(1);
     width: 408px;
     min-height: 584px;
     background: #fcfcfc;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
         0px 1px 3px rgba(0, 0, 0, 0.12),
         0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 4px;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }


 .butonn-registration {
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #e7e9fc;
     border: 1px solid rgba(0, 0, 0, 0.1);
     padding: 0;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }



 .butonn-registration:hover {
     background-color: #404bbf;
     border: none;
 }

 .butonn-registration:focus {
     background-color: #404bbf;
     border: none;

 }

 .icon-modal {
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .butonn-registration .icon-modal:hover {
     fill: #ffffff
 }

 .butonn-registration:focus .icon-modal {
     fill: #ffffff
 }


 .modal-p {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     text-align: center;
     letter-spacing: 0.02em;
     color: #2E2F42;
     margin-bottom: 16px;


 }


 .modal-form-div {
     margin-bottom: 8px;

 }

 .modal-label {
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #8e8f99;
     display: block;
     margin-bottom: 4px;


 }


 .input-checkbox:checked+label .span-checkbox {
     background-color: #404bbf;
     border: none;
     fill: var(--color2);
 }


 .input-in-icon {
     position: relative;

 }

 .input-modal {
     width: 100%;
     height: 40px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     background-color: transparent;
     padding-left: 38px;
     outline: transparent;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }


 .input-modal:focus {
     border-color: #4D5AE5;
 }

 .svg-modal {
     position: absolute;
     left: 16px;
     top: 50%;
     transform: translateY(-50%);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }



 input:checked {}



 .textarea-modal {
     width: 100%;
     height: 120px;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: rgba(46, 47, 66, 0.4);
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     background-color: transparent;
     padding: 8px 16px;
     outline: transparent;
     resize: none;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }


 :checked .input-checkbox {
     background-color: #404bbf;
     border: none;
     fill: #F4F4FD;
 }

 .textarea-modal:focus {
     border-color: #4D5AE5;
 }

 .modal-form {

     margin-bottom: 16px;

 }



 .checkbox {
     margin-bottom: 24px;

 }

 .visually-hidden {}

 .label-checkbox {
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #8e8f99;

 }

 .span-checkbox {
     width: 16px;
     height: 16px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 2px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     display: inline-flex;
     align-items: center;
     justify-content: center;
     fill: transparent;

 }

 :checked+.span-checkbox {
     background-color: #404bbf;
     border: none;
     fill: #F4F4FD;

 }

 .a-ladel {
     color: #4d5ae5;

 }


 .button-element {
     margin: auto;
     display: block;
     min-width: 169px;
     height: 56px;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     cursor: pointer;
     background-color: #4D5AE5;
     border: none;
     border-radius: 4px;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     cursor: pointer;
     border-radius: 4px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 @media screen and (max-width: 768px),
 screen and (max-device-width: 768px) {
    
 .menu-nav{
    display: none;
  }
   .address{
    display: none;
  }
 

   .nav-window{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }

   .mobile-menu-container{
    height: 100%;
   }

   .nav-window{
    height: 100%;
   }

   .social-network{
    margin: 48px 0 30px ;
    justify-content: space-between;
   }


    .div-studio{
        margin: 72px 195px 168px 16px;
    }

   .window{
    width: 288px;
        height: 623px;
        
   }

   .header-background{
    width:  100% ;
    height: 432px ;
    top: 56px;
   }

    .registration{
        margin: 50px 0px -10px 57px;
    }

  .title{
     width: 220px ;
     margin: 0% auto;
    color: var(--WHITE, #FFF);
        color: var(--WHITE, #FFF);
            text-align: center;
        
            /* Header 2 */
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            /* 111.111% */
            letter-spacing: 0.72px;
            text-transform: capitalize;
    }

         .div-benefits{
            display: none;
         }

      .description{
        display: flex;
            
            flex-direction: column;
            align-items: flex-start;
            gap: 72px;
      }
     
      .kinds{
        color: var(--NAVY-BLUE, #2E2F42);
            text-align: center;
        
            /* Header 2 */
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            /* 111.111% */
            letter-spacing: 0.72px;
            text-transform: capitalize;
      }

      .description{
        color: var(--SLATE, #434455);
        
            /* Body Medium */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.32px;
      }

   
      

     

        .biographies {
            gap: 72px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin: 0 28px;
        }

    .team-div{
        display: flex;
            width: 264px;
            padding-bottom: 0px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
    }

   .team-li{
    padding: 0%;
   }

      .options{
         
         
      }

       .div-ph{
        display: flex;
             
                flex-direction: column;
            
       }
    
          .modal-li{
width: 288px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 288px;
    height: 400px;
    top: 3816px;
    left: 16px;
    padding: 0px, 0px, 32px, 0px;
    border: 1px;
          }

          .bottom-mobile{
            width: 320px ;
            height: 664px ;
             display: flex;
             background-color: #2E2F42;
          }

          .footer-container{
            display: flex;
                flex-direction: column;
                align-items: baseline;
                align-content: space-around;
                
          }

     .bottom{
        padding: 
     }
    
      .forma-footer{
        flex-direction: column;
      }
       
     .description-bottom{
        text-align: center;
     }
    
    .forms{
        margin-left: 16px;
    }
    
   .div-foot{
    margin-top: -27px;

   }
   
   .logotype{
    margin: 20px 87px 17px 0px;
   }
  .p-foot{
    margin: 72px 77px 16px;
  }

   .forms-paragraph{
    margin: 35px 86px 15px;
   }

    .ul-foot{
        margin: 17px 57px 17px 24px;
    }

    .subscrite-button{
        margin: 26px 71px 95px 44px;
    }
    }






 





  
  

  .address-modal-mobile{
    color: var(--IRIS, #4D5AE5);
    
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
  }

 
  
    

.ul-window {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px   ;
}

.container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
 
    
   .menu-nav-window {
       gap: 40px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;

   }

   .modal-window {
       Top: 72px;
       Left: 16px;
       Gap: 40px;
   }

.modal-window{
    color:   #2E2F42 ;
    
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}


 .modal-window:hover{
    color: #404BBF;
 }

  .mobile-menu-container{
    position: relative;
  }

   .mobile-meny-close-btn{
    position: absolute;
    top: 24px;
    right: 0;
     left: 8;
    background-color: transparent;
    padding: 0%;
    line-height: 0%;
    border: none;
   }

   .mobile-meny{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: #FFF;
    transform: translate(100%);
     transition: transform 250ms linear;
   }


   .mobile-meny.is-open{
    transform: translate(0%);
   }

  .logotype-web{
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
  }

     .mobile-open-btn{
        bottom: none;
         background-color: transparent ;
         padding: 0%;
         line-height: 0%;
         border: none;
     }
  

     .div-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
         
     }


     .page-header{
        
     
    }

       /* HEADER MOBILE STYLE */

   @media screen and (max-width:320px)   {
      .page-header{
        box-shadow: none;
        border-bottom:none;
      }
 
   }
  
   @media screen and (min-width:320px){
    .container {
        
            margin-left: auto;
            margin-right: auto;
            width: 320px;
    
        }

        

   }
  
    
    
 

  @media screen and (min-width: 768px)  {

    .mobile-meny{
        display: none;
    }



    .container {

        width: 768px;

    }

   .mobile-open-btn{
    display: none;
   }

      .contacts{
         
      }

     .logotype-web{
        display: inline-flex;
            height: 24px;
            align-items: center;
            flex-shrink: 0;
     }
  
        
        .menu-link {
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                position: relative;
                color: #2E2F42;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.32px;
                padding: 24px 0;
                display: block;
            }
                .menu-link:hover {
                    color: var(--OCEAN, #404bbf);
                }
   
   
   
                .header-background{
                    width: 100%;
                        height: 436px;
                        flex-shrink: 0;
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
                }
   
   
        .title{
            color: var(--WHITE, #FFF);
                text-align: center;
            
                /* Header 1 */
                font-family: Roboto;
                font-size: 56px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;
                /* 107.143% */
                letter-spacing: 1.12px;
        }
   
   .container{
     

   }
   
   .registration{
    margin-top: 36px;
   }
     
   .div-benefits{
    display: none
    ;
   }
   
    .strategy{
        margin: 96px px 24px 72px 16px;
    }
           
   .punctuality{

   }

  .kinds{
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
  }

.description-p{
    color: var(--SLATE, #434455);
    
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}

 .description{
    display: grid;
         
        grid-template-columns: repeat(2, 1fr);
         flex-direction: row;
        
        gap: 72px 24px;
 }

  .h-p{
    margin-right: 91px;
    display: inline;
  }

  .div-boxc{
    display: flex;
  }

  .li-benefits {
         
            width: 356px;
            flex-direction: column;
            align-items: flex-start;
             
  }

    .direction-column{
        display: flex;
            flex-direction: column;
    }


   .biographies{
    margin: 0 auto;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
   }

   .our-portfolio{
    margin: 0 auto;
        display: grid;
        flex-direction: column;
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
   }

  .modal-li{
    width: 356px;
  }
 
   .div-ph{
       display: flex;
       padding: 32px 16px;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       align-self: stretch;
       border-left: 1px solid #E7E9FC;
       border-right: 1px solid #E7E9FC;
       border-bottom: 1px solid #E7E9FC;
       border-radius: 0px 0px 4px 4px;
   }

  .footer-container{  flex-direction: row;
 flex-wrap: wrap;
 width: 576px;
 gap: 72px 24px
}

   .div-foot{
    display: inline-block;
        margin: 0;
   }
  .social{
    margin: 0;
  }

  .forms{
    margin: 0;
        align-items: start;
  }
  .logotype{
    font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1.17em;
        color: #4D5AE5;
        letter-spacing: 0.03em;
        text-decoration: none;
        margin-right: 76px;
  }

  .forma-footer{
    flex-direction: row;
  }
} 
       

 .forma-footer{
    display: flex;
         
        gap: 24px
 }

  @media screen and (min-width: 1158px) {
    .mobile-meny {
            display: none;
        }
    
    .container {

          width: 1158px;

      }
      
      .header-background{
        width: 1440px;
            height: 600px;
            
      }
  
  .header-background {
      width: 100%;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
      background-size: cover;
     
      background-repeat: no-repeat;
      background-position: center;
  }
     .div-benefits{
        display: flex;
         
            align-items: center;
            justify-content: center;
            background-color: #f4f4fd;
            border-radius: 4px;
            margin-bottom: 8px;
            height: 112px;
     }
  
  .description {
      color: var(--SLATE, #434455);
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.32px;
  }
  
  .description {
      display: flex;
      gap: 24px;
  }

  .container {
      margin: 0 auto;
      width: 1158px;
      padding: 0 15px;
  }

 .li-benefits {
     
     width: 356px;
     
    }

  .div-benefits{
    border: 1px solid#8E8F99;
  }
  
   .kinds {
       color: var(--NAVY-BLUE, #2E2F42);
       font-family: 'Roboto', sans-serif;
       font-size: 20px;
       font-style: normal;
       font-weight: 500;
       line-height: 24px;
       letter-spacing: 0.4px;
   }

 .description {
     color: var(--SLATE, #434455);
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0.32px;
 }


   .team {
       background: var(--CLOUD, #F4F4FD);
       padding: 120px 0;
   }
   .team-description {
       color: var(--NAVY-BLUE, #2E2F42);
       text-align: center;
       font-family: 'Roboto', sans-serif;
       font-size: 36px;
       font-style: normal;
       font-weight: 700;
       line-height: 1.11;
       letter-spacing: 0.72px;
       text-transform: capitalize;
       margin-bottom: 72px;
   }

 .biographies {
     gap: 24px;
     display: flex;
 }


.options {
        display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
            flex-direction: row;
        }


.div-foot {
    margin: auto;
}

.div-header {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-direction: row;
}

.contacts {
    display: flex;
    gap: 40px;
}

    }

   
    
   
.header-background{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    margin: 0;
}
  

     
