body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
  font-size: 16px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px; 
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
}


ul,ol {
  list-style-type: none;
  background-color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

img {
  display: block;\
  width: calc((100% - 72px) / 4);
}

a {
 text-decoration: none;
 display: inline-block;
}

.page-navigator {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  background-color: #ffffff;
  gap: 24px;
  margin-right: 24px;
  width: calc((100% - 72px) / 4); 
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding-bottom: 24px;
  padding-top: 24px;
  display: block;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.logotype-span {
  color: #2e2f42;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  margin-right: 76px;
  margin-bottom: 16px;
  display: inline-block;
}

.list-container {
  display: flex;
  gap: 40px;
  margin-right: 0;
}

.menu-contact {
display: flex;
gap: 40px;
margin-right: 0;
align-items: center;
margin-top: 15px;
}


.menu-link {
  font-size: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-contact:hover,
.menu-contact:focus {
  color: #404bbf;
}

.contact-information {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-information:hover,
.contact-information:focus {
  color: #404bbf;
}

/* HERO SECTION */

.section {
   background-color: #2e2f42;
   padding-top: 188px;
   padding-bottom: 188px;
}


.page-title {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  }

.button {
  cursor: pointer;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  min-width: 169px;
  border: none;
  height: 56px;
  border-radius: 4px
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #FFFFFF;
  margin-bottom: 72px;
}

.list-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height:  1.2;
  letter-spacing: 0.02em; 
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
  
}

.list-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logotype-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer-logotype-span {
  color: #f4f4fd;
}

.address {
 font-style: normal;
}

.second-section {
 padding-top: 120px; 
 padding-bottom: 120px;
}

.third-section {
 background-color: #F4F4FD;
 padding-top: 120px; 
 padding-bottom: 120px;
}

.section-list {
  background-color: #FFFFFF;
  display: flex;
  gap: 24px;
  margin-right: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.fourth-section {
  background-color: #FFFFFF;
  padding-top: 120px; 
  padding-bottom: 120px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%)
  clip rect(0 0 0 0);
  overflow: hidden;
 }

.third-list {
  border-bottom-left-radius: 4px;
}

.list-image {
  padding-top: 32px; 
  padding-bottom: 32px;
}

.list-div {
  padding-top: 32px;
  padding-bottom: 32px;
}

.div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none
}

.fourth-section-list {
   flex-wrap: wrap;
   display: flex;
   row-gap: 48px;
  column-gap: 24px;
}

.fourth-list {
  width:calc((100% - 3 * 24px) / 4);
}

.section-list {
   width:calc((100% - 3 * 24px) / 4);
} 
