body {
  background: #0E1823;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;  
}

img {
  display: block;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.reviews-section-li-title {
   color: #040306;
   text-align: center;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 110%;
   letter-spacing: -0.36px;
}

 .reviews-text {
   color: #b1aaaa;
   text-align: center;
   font-family: Inter;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: -0.24px;
   margin-bottom:40px;
   width: 335px;
 }

.reviews-section-li-text{
  color: rgba(4, 3, 6, 0.40);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.32px;
  width: 303px;
}

  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    padding-left: 25px;
  }


@media screen and (max-width: 767px) {
   .reviews {
    padding-top: 80px;
    padding-bottom: 80px
   }
  .reviews-section-li {
    border-radius: 24px;
    background: #FBFBFB;
    width: 335px;
    height: 282px;
    padding: 32px 8px;
    gap: 8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .reviews-section-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }

  .reviews-title {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 100% */
    letter-spacing: -0.56px;
    width: 335px;
    margin-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px){
   .container {
    max-width: 768px;
  }

  .reviews {
    padding-top: 80px;
    padding-bottom: 80px
   }
  .reviews-section-li {
    border-radius: 24px;
    background: #FBFBFB;
    /* width: 335px; */
    /* height: 282px; */
    padding: 32px 8px;
    gap: 8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .reviews-section-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
    justify-content: center;
  }

  .reviews-title {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 100% */
    letter-spacing: -0.56px;
    width: 335px;
    margin-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
}
 
}

@media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-right: 25px;
    padding-left: 25px;
}
