@import url('./reset.css');

.form {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 371px;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  object-fit: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Montserrat';
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding-top: 30px;
}

.submit-btn {
  background-color: #4e75ff;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: 0.4s;
}

.submit-btn:hover {
  background: #6c8cff;
}

.form-control {
  width: 240px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: 0.4s;
  outline: none;
}

.form-control:hover {
  border: 1px solid #000;
}

.form-control:focus {
  border: 1px solid #4e75ff;
}

.form-control::placeholder {
  color: #808080;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.gallery-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}

.gallery-item {
  width: 100%;
  height: auto;
  border: 1px solid #808080;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 22px;
}

.text-content-box {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.image-text {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}

.image-title {
  font-weight: 600;
  font-size: 12px;
  color: #2e2f42;
}

.iziToast-close {
  color: white !important;
}

.btn-show-more {
  background-color: #4e75ff;
  color: white;
  border-radius: 7px;
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: 0.4s;
  display: block;
  margin: 0 auto;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  box-sizing: border-box;
  animation: zeroRotation 1s linear infinite alternate;
}

.hidden {
  display: none;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(22, 155, 165);
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  right: 0;
  transform: translate(50%, 100%);
}
@keyframes zeroRotation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}
