/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.search-form {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 32px;
}
input[type='text'] {
  width: 170px;
}
.search-button {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  padding: 8px 16px;
  width: 70px;
  height: 24px;
  border: none;
  background-color: #4e75ff;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.list-item {
  width: 360px;
  height: 300px;
  border: 2px solid #242424;
}
.information-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
}
.main-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.info {
  font-family: 'Montserrat', sans-serif;

  font-size: 16px;
}
.item-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Бігунок завантаження  */
.loader {
  margin: auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  border-top: 4px solid blue;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid yellow;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
